@import "./form.css";

.form-access{
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    height: 100vh;  /* usado para centralizar o iten no cetro da visão do pc*/
    background-color: var(--shadow);
    position: relative;
    top:0;
     
}

.form-access form{
    /* position:fixed;
    top;50%;
    left:50%;
    tranform: translate(-50%, -50%);
    */
   width: 300px;
   border: solid 1px var(--blue);
   padding: 20px;
   background-color: var(--white);
}