@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,400;0,900;1,500&display=swap');

@import "./nav.css";

/* codigo para tirar bordar de qualquer saite*/
:root{
    --blue: #4242dd;
    --white: #eeeeee;
    --black: #222222;
    --gray: #444444;
    --shadow: #00000050;
    --frot-title: "Nunito" sans-serif;
    --front-primary: "Roboto" sans-serif;
    --font-size-default: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--front-primary);
    font-size: var(--font-size-default);

}

a{
    color: var(--gray);
    text-decoration: underline;
}

.container{
    width: 100%;
    min-width: 340px;
    max-width: 1280px;
    margin: auto;  /* toda divi que eu quero aplicar eu coloco esse codigo pra*/
}

